# Be sure to restart your server when you modify this file
#
# Explanation of the required data:
# 1. name: a general name/type of resource
# 2. model: a specific model of the resource
# 3. maker: company responsible to make the resource
# 4. components:
#   1. description: shor description of the component that can be used in future full-text search
#   2. lat: latitude coordinate
#   3. lon: longitude coordinate
#   4. collec_interval: period of time (in seconds) which the component must wait to perform a new collection. This data can be ignored for event based sensors and actuators
#   5. capacities: set of capacities that each component answer. Notice that, since a component has a capacity "example", it must respond to the method "example"
#
#
# The components is placed as follows:
# 1. USP
# 2. MASP - Av. Paulista
# 3. Zoológico

resources:
  - name: "Arduíno"
    model: "Uno"
    maker: "XPTO"
    components:
      - description: ""
        lat: -23.559319
        lon: -46.731476
        collect_interval: 60
        capacities:
          - "temperature"
          - "pressure"
          - "humidity"
          - "manipulate_led"
      - description: ""
        lat: -23.561528
        lon: -46.656009
        collect_interval: 60
        capacities:
          - "temperature"
          - "pressure"
          - "humidity"
          - "manipulate_led"
      - description: ""
        lat: -23.650674
        lon: -46.620484
        collect_interval: 60
        capacities:
          - "temperature"
          - "pressure"
          - "humidity"
          - "manipulate_led"

